@{
    ViewBag.Title = "About";
}


<div class="table-container">
    <h1 class="headimg">沒有權限瀏覽此網頁!!!</h1>
</div>
<footer class="footer section">
    <div class="footer__right">
        <p class="footer__copy">&copy; @DateTime.Now.Year - ITAXI團隊</p>
    </div>
</footer>