
@{
    ViewBag.Title = "QA";
}

<body >

    <section class="qa__section">
        <div class="qa__container">
            <div class="accordion">
                <h1 style="text-align:center; font-size:40px; padding-bottom:1rem; padding-block-start:100px;">常見問題 Q&A</h1>
                <h2 style="text-align:left; font-size:30px; padding-bottom:1rem;">乘客問題</h2>
                <div class="accordion__item" id="question1">
                    <a class="accordion__link" href="#question1">
                        如果找不到司機怎麼辦？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            司機的詳細資料裡都會有司機的聯絡電話可以撥打。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question2">
                    <a class="accordion__link" href="#question2">
                        如果司機一直都沒有到怎麼辦？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            可以到客服中心聯絡我們，我們會幫你儘快處理。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question3">
                    <a class="accordion__link" href="#question3">
                        想要取消訂單要到哪裡取消？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            在我們網頁的訂單詳細資料裡，有個取消訂單的按鈕可以取消，但是如果您是立即訂單且被司機接單後就不能取消了哦!
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question4">
                    <a class="accordion__link" href="#question4">
                        如果我將個人物品遺留在車上怎麼辦?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            可以到客服中心與我們取得聯繫、我們會盡快通知司機。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question5">
                    <a class="accordion__link" href="#question5">
                        如果有關司機的意見能在那裡回饋?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            如果有好的搭車經驗可以到我們的評價頁面寫下好的鼓勵、我們的司機也會很高興、但如果有不好的搭車經驗也可以寫下來、系統會依照情況對司機做出相對應的懲處。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question6">
                    <a class="accordion__link" href="#question6">
                        目前ITAXI的叫車範圍有哪些?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前只有六個地點 :文化後山、劍潭捷運站、士林捷運站、芝山捷運站、明德捷運站、石牌捷運站。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question7">
                    <a class="accordion__link" href="#question7">
                        如果想去其他地方可以自由選擇目的地嗎?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前系統設定為只能選擇固定地點、如果想到其他目的地需要您搭乘到最近的地點後再做轉車、造成您的不便深感抱歉、ITAXI團隊關心您。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question8">
                    <a class="accordion__link" href="#question8">
                        如果點選立即訂單頁面一直跑到搭車紀錄怎麼辦?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            可以去搭車紀錄取消訂單即可重新建立立即訂單。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question9">
                    <a class="accordion__link" href="#question9">
                        如果忘記密碼怎麼辦?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            請立即尋求專員為您處理，請提供申請帳號時的學號跟學生證，若是司機請提供身分證、駕照來尋求密碼。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question10">
                    <a class="accordion__link" href="#question10">
                        如果上車時突然想改變下車地點、該如何處理?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            如果司機允許、我們會請司機回報給我們專員幫忙做修改、如果司機沒辦法配合、需要您跟客服聯繫、我們會盡快幫您處理。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question11">
                    <a class="accordion__link" href="#question11">
                        可以選擇司機嗎？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前為系統指派、乘客無法選擇司機、造成您的不便深感抱歉、ITAXI團隊關心您。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question12">
                    <a class="accordion__link" href="#question12">
                        請問我已經預約完成，但都沒收到系統訂單確認信怎麼辦?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            網站最下面以及LineBot都有聯絡客服的資訊，可以透過資訊聯絡到客服。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question13">
                    <a class="accordion__link" href="#question13">
                        請問多久可以叫到車？都沒有司機接我的單怎麼辦？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            訂單平均差不多10分鐘之內可以找到司機，如果沒有司機接單請再稍等一下，再沒有的話請聯絡客服，我們會為您處理。
                        </p>
                    </div>
                </div>

                <h2 style="text-align:left; font-size:30px; padding-bottom:1rem">司機問題</h2>

                <div class="accordion__item" id="question14">
                    <a class="accordion__link" href="#question14">
                        如果乘客一直沒有出現怎麼辦？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            在乘客的詳細資訊裡，有乘客的聯絡電話可以撥打。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question15">
                    <a class="accordion__link" href="#question15">
                        如果忘記密碼怎麼辦?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            請立即尋求專員為您處理，請提供申請帳號時的學號跟學生證，若是司機請提供身分證 駕照來尋求密碼。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question16">
                    <a class="accordion__link" href="#question16">
                        如果無法點選取消訂單或沒有取消按鈕可以按該怎麼辦?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            點選載客中的詳細資料，也可能是上一單乘客未完成搭車程序，重新點選完成訂單即可。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question17">
                    <a class="accordion__link" href="#question17">
                        如果完成訂單後如果乘客沒有點選完成訂單、造成無法接下一單該怎麼辦？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            系統會通知乘客要點選完成訂單按鈕、如有急需系統會幫您處理。
                        </p>
                    </div>
                </div>

                <h2 style="text-align:left; font-size:30px; padding-bottom:1rem">客服問題</h2>

                <div class="accordion__item" id="question18">
                    <a class="accordion__link" href="#question18">
                        如果操作網頁上有問題怎麼辦？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            可以在客服中心有個意見反饋，把您的問題跟我們說，我們會馬上改進、造成您的不便深感抱歉、ITAXI團隊關心您。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question19">
                    <a class="accordion__link" href="#question19">
                        除了現金支付外還有其他付款方式嗎?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前我們只能現金支付、之後會增加其他付款方式、如APPLE PAY及LINE PAY等電子支付方式、造成您的不便深感抱歉、ITAXI團隊關心您。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question20">
                    <a class="accordion__link" href="#question20">
                        搭車能夠索取發票嗎?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前搭車還無法索取發票、造成您的不便深感抱歉、ITAXI團隊關心您。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question21">
                    <a class="accordion__link" href="#question21">
                        如果網頁出現錯誤，404，ERROR，該如何處理?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            請去ITAXI 的LINE BOT 聯絡客服，我們回提供專員為您服務。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question22">
                    <a class="accordion__link" href="#question22">
                        如果某些按鈕按了沒功能?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            ITAXI網頁一直在做更新，請耐心等候新的功能推出、造成您的不便深感抱歉、ITAXI團隊關心您。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question23">
                    <a class="accordion__link" href="#question23">
                        加入ITaxi計程車隊以及處理開通程序可以請家人或朋友代辦嗎？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前僅限本人來自己註冊，才能確保資料是否都正確以及確認是不是本人。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question24">
                    <a class="accordion__link" href="#question24">
                        註冊時所提供的個人資料，會不會外洩？
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            資料只有管理員看的到，不會有外洩的問題。
                        </p>
                    </div>
                </div>

                <div class="accordion__item" id="question25">
                    <a class="accordion__link" href="#question25">
                        是否有特殊行李規格與限制?
                        <i class='bx bx-chevron-up-circle qa__icon'></i>
                        <i class='bx bx-chevron-down-circle qa__icon'></i>
                    </a>
                    <div class="answer">
                        <p>
                            目前是沒有。
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    

</body>
<footer class="footer section">
    <div class="footer__right">
        <p class="footer__copy">&copy; @DateTime.Now.Year - ITAXI團隊</p>
    </div>
</footer>


<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line scrollup__icon"></i>
</a>




